/* ================================= 
  Base Element Styles
==================================== */
@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/Aller-Light.woff") format("woff"), url("../fonts/Aller-Light.ttf") format("truetype"), url("../fonts/Aller-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Aller-Light", sans-serif;
  background-color: #ebe7df;
}

ul li {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  border-style: none;
}

p {
  padding: 0;
  margin: 0;
}

/* ---- Header ---- */
header {
  background-color: #242424;
  height: 45px;
}
header h1 {
  text-align: middle;
  margin-top: 0px;
}

/* ---- Navigation ---- */
nav {
  background-color: #ffffff;
  height: 60px;
}
nav ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
nav li {
  line-height: 60px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 0.4px;
  border-left: 1px solid #eeeeee;
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
nav li a {
  color: #242424;
  text-decoration: none;
}
nav li a:hover {
  color: #57c5a0;
}
nav li img {
  padding-right: 4px;
  vertical-align: middle;
  line-height: 60px;
}

/* ---- Footer ---- */
footer {
  height: 90px;
  padding: 25px;
  background-color: #2e2e2e;
  color: #a4a4a4;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Page Elements ---- */
/* ---- Header ---- */
.logo {
  line-height: 45px;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
  display: inline;
  color: #57c5a0;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -0.7px;
  font-weight: 100;
}

.searchinput, .searchinput:focus {
  background-image: url("../img/search-icon.png");
  background-position: 130px 15px;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 45px;
  background-color: #242424;
  outline: none;
  color: #b1aeae;
  border-style: none;
  font-size: 11px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.searchbar {
  border-left: 1px solid #666464;
  border-right: 1px solid #666464;
  float: right;
  position: relative;
}

.dropdown-content {
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: #4c4c4c;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  border-bottom: 1px solid #666464;
  color: #b1aeae;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4c4c4c;
}

.searchbar:hover .dropdown-content {
  display: block;
}

.loginbtn, .loginbtn:focus {
  padding: 0 25px 0 21px;
  border-right: 1px solid #666464;
  float: right;
  background-color: #242424;
  color: #b1aeae;
  font-size: 11px;
  line-height: 45px;
  font-weight: 400;
  /* ---- Navigation ---- */
}

.lastleft {
  border-right: 1px solid #eeeeee;
}

.rightmenu {
  float: right;
  line-height: 60px;
  padding: 0px 23px;
}

.cart {
  border-right: 1px solid #eeeeee;
}

.starbtn {
  padding-right: 6px;
  padding: 4px;
  color: #ffffff;
  font-size: 10px;
  background-color: #adadad;
  border-radius: 4px;
}

.starbtn:hover {
  color: #ffffff;
  background-color: #57c5a0;
}

.cartbtn {
  padding: 4px 6px;
  color: #ffffff;
  font-size: 10px;
  background-color: #adadad;
  border-radius: 4px;
}

.cartbtn:hover {
  background-color: #57c5a0;
  color: #ffffff;
}

/* ---- Slider---- */
.slide1 {
  position: relative;
  background-image: url("../img/slice-1.png");
}

.slide2 {
  position: relative;
  background: url("../img/slice-2.jpg") center center no-repeat;
}

.slide3 {
  position: relative;
  background-image: url("../img/slice-3.jpg");
}

.slidecontent {
  position: absolute;
  left: 680px;
  top: 70px;
}
.slidecontent h1 {
  font-weight: 100;
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 38px;
  line-height: 40px;
}
.slidecontent p {
  margin: 10px 0;
  font-size: 20px;
  line-height: 25px;
}
.slidecontent a {
  font-size: 13px;
  color: #ffffff;
  display: block;
  outline: none;
  text-align: center;
  line-height: 70px;
  width: 70px;
  height: 70px;
  background-color: #57c5a0;
}
.slidecontent img {
  margin: auto;
}
.slidecontent ul {
  margin: 0;
  padding: 0;
}
.slidecontent li {
  margin-right: -2px;
  display: inline-block;
  list-style-type: none;
}
.slidecontent li a, .slidecontent li a:hover {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.eyeicon {
  background: url("../img/eye-icon.png") center center no-repeat;
}

.eyeicon:hover {
  background: url("../img/eye-icongreen.png") center center no-repeat;
}

.staricon {
  background: url("../img/star-icon.png") center center no-repeat;
}

.staricon:hover {
  background: url("../img/star-icongreen.png") center center no-repeat;
}

.shareicon {
  background: url("../img/share-icon.png") center center no-repeat;
}

.shareicon:hover {
  background: url("../img/share-icongreen.png") center center no-repeat;
}

.carticon {
  background: url("../img/cart-icon.png") center center no-repeat;
}

.carticon:hover {
  background: url("../img/cart-icongreen.png") center center no-repeat;
}

/* ---- Slider nav---- */
.slidernav {
  height: 73px;
  margin-top: -12px;
  background-color: #2e2e2e;
}
.slidernav ul {
  text-align: center;
}
.slidernav li {
  padding: 0px;
  display: inline-block;
  color: #adadad;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
}
.slidernav li p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 22px;
}
.slidernav li:hover {
  color: #fff;
}

.anna {
  margin: 13px 55px 0 38px;
}

/* ---- special offers---- */
.specials {
  padding: 25px 0 25px 0;
  height: 231px;
  background-color: #242424;
}

.onsale {
  width: 32%;
  height: 180px;
  background: url("../img/onsale.png") no-repeat;
}

.speshialoffer {
  width: 32%;
  height: 180px;
  background: url("../img/speshialoffer.png") no-repeat;
}

.musthave {
  width: 32%;
  height: 180px;
  background: url("../img/musthave.png") no-repeat;
}

.transbox {
  margin: 60px;
  height: 60px;
  background-color: #242424;
  opacity: 0.8;
}

.transbox h2 {
  padding: 0 3px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

/* ---- new arrivals ---- */
.newarrivals h3 {
  font-weight: 100;
  margin: 30px 0 10px 0;
  font-size: 24px;
  display: inline-block;
}
.newarrivals .flex-item {
  position: relative;
}
.newarrivals img {
  position: absolute;
  left: 64px;
}
.newarrivals a {
  font-weight: 700;
  position: absolute;
  left: 12px;
  bottom: 0px;
  font-size: 13px;
  color: #ffffff;
  display: block;
  outline: none;
  text-align: center;
  line-height: 66px;
  width: 67px;
  height: 66px;
  background-color: #57c5a0;
}
.newarrivals p {
  position: absolute;
  left: 92px;
  bottom: 12px;
  color: #242424;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
}
.newarrivals .onsaleicon {
  position: absolute;
  left: 219px;
}

.showall {
  margin-top: 29px;
  float: right;
  width: 100px;
  height: 30px;
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;
  color: #bcb5a7;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.35px;
  font-weight: 700;
}

.bestsellers .flex-container {
  margin-bottom: 47px;
}
.bestsellers .showall {
  margin-top: 17px;
}
.bestsellers h3 {
  margin: 18px 0 10px 0;
  font-size: 24px;
  display: inline-block;
  font-weight: 100;
}
.bestsellers .flex-item {
  position: relative;
}
.bestsellers img {
  position: absolute;
}
.bestsellers a {
  font-weight: 700;
  position: absolute;
  left: 12px;
  bottom: 0px;
  font-size: 13px;
  color: #ffffff;
  display: block;
  outline: none;
  text-align: center;
  line-height: 66px;
  width: 67px;
  height: 66px;
  background-color: #57c5a0;
}
.bestsellers p {
  position: absolute;
  left: 92px;
  bottom: 12px;
  color: #242424;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
}
.bestsellers .outofstockicon {
  position: absolute;
  left: 221px;
}

.flex-item {
  background-color: #fff;
  width: 32%;
  height: 268px;
}

.addon {
  border-top: 1px solid #dedad3;
}
.addon .flex-container {
  margin: 25px 0;
}
.addon h4 {
  margin: 17px 0 10px 0;
  font-size: 14px;
  color: #242424;
  text-transform: uppercase;
  font-weight: 1000;
}
.addon p {
  line-height: 16px;
  font-size: 12px;
}

.col1, .col2 {
  width: 23%;
  height: 185px;
  background-color: #dfdbd4;
  padding: 15px;
}

.col3 {
  padding: 15px;
  font-size: 12px;
  width: 49%;
  height: 185px;
  background-color: #dfdbd4;
}
.col3 h4 {
  margin: 15px 0 18px 0;
}
.col3 img {
  margin-right: 10px;
  float: left;
}
.col3 div {
  display: inline-block;
}
.col3 p {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}

/* ---- widget ---- */
.widget {
  background-color: #242424;
  height: 246px;
  color: #7d7d7d;
  line-height: 18px;
}
.widget h4 {
  font-size: 14px;
}
.widget p {
  font-size: 12px;
  font-style: italic;
}

.wid1 {
  width: 33%;
  padding: 29px 15px 0 40px;
  text-align: justify;
}

.wid2 {
  width: 33%;
  padding: 29px 10px 0 29px;
}

.wid3 {
  width: 33%;
  padding: 29px 10px 0 25px;
}

.prefooter {
  height: 118px;
  background-color: #242424;
}
.prefooter form {
  line-height: 110px;
  display: inline-block;
}
.prefooter ul {
  line-height: 133px;
  margin: 0;
  float: right;
  margin-right: 42px;
}
.prefooter li {
  margin-left: 5px;
  display: inline-block;
}
.prefooter li a {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #2e2e2e;
}
.prefooter input {
  padding-left: 10px;
  margin-left: 40px;
  width: 213px;
  line-height: 34px;
  border-style: none;
  background-color: #2e2e2e;
  color: #7d7d7d;
  outline: none;
  font-size: 12px;
  font-style: italic;
}
.prefooter button {
  margin-left: -5px;
  padding: 0;
  line-height: 34px;
  width: 35px;
  border-style: none;
  background-color: #7d7d7d;
  color: #2e2e2e;
  outline: none;
}

.facebook {
  background: url("../img/facebook-copy.png") center center no-repeat;
}

.twitter {
  background: url("../img/twitter-copy.png") center center no-repeat;
}

.google {
  background: url("../img/g--copy.png") center center no-repeat;
}

.leakedin {
  background: url("../img/leakedin-copy.png") center center no-repeat;
}

.flickr {
  background: url("../img/flickr-copy.png") center center no-repeat;
}

.rightfooter {
  line-height: 2px;
  float: right;
}

/* ---- containers ---- */
.flex-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 940px;
}

/* ---- Float clearfix ---- */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ---- Footer ---- */
/* ================================= 
  Media Queries
==================================== */

/*# sourceMappingURL=style.css.map */
